<template>
  <v-sheet>
    <v-sheet>
      <v-toolbar flat>
        <v-btn fab
               text
               small
               @click="prev">
          <v-icon small>mdi-chevron-left</v-icon>
        </v-btn>
        <v-btn fab
               text
               small
               @click="next">
          <v-icon small>mdi-chevron-right</v-icon>
        </v-btn>
        <v-btn-toggle v-model="type">
          <v-btn outlined
                 value="month">
            Month
          </v-btn>
          <v-btn outlined
                 value="day">
            Day
          </v-btn>
        </v-btn-toggle>
        <div class="flex-grow-1" />
        <v-toolbar-title>{{ title }}</v-toolbar-title>
      </v-toolbar>
    </v-sheet>
    <v-sheet>
      <v-calendar ref="calendar"
                  v-model="focus"
                  color="primary"
                  :events="events"
                  :type="type"
                  :weekdays="weekdays"
                  :first-interval="9"
                  :interval-count="10"
                  :hide-header="type == 'day'"
                  @click:date="viewDay"
                  @change="updateRange">

        <template v-slot:interval="{ date, hour }">
          <v-dialog v-model="dialog[hour]"
                    width="500">
            <template v-slot:activator="{ on }">
              <v-btn v-on="on">
                Take {{ formatHour(hour) }} hour
              </v-btn>
            </template>
            <v-card>
              <v-card-title primary-title>
                Please provide contact information
                <br />
                <div class="overline mb-4">Taking hour for {{ formatDate(date, hour) }}</div>
              </v-card-title>
              <v-card-text>
                <v-text-field v-model="name"
                              :rules="[rules.required]"
                              label="Name"
                              placeholder="Ex: Cristóbal Ramos" />
                <v-text-field v-model="email"
                              :rules="[rules.required, rules.email]"
                              label="Email"
                              placeholder="Ex: cristobal@ramosmerino.cl" />
              </v-card-text>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn text
                       @click="dialog[hour] = false">
                  Close
                  <v-icon dark
                          right>mdi-cancel</v-icon>
                </v-btn>
                <v-btn text
                       :loading="loading"
                       :disabled="invalidForm"
                       @click="send(date, hour)">
                  Confirm
                  <v-icon dark
                          right>mdi-checkbox-marked-circle</v-icon>
                  <template v-slot:loader>
                    <span class="custom-loader">
                      <v-icon dark>mdi-cloud-upload</v-icon>
                    </span>
                  </template>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </template>
      </v-calendar>

    </v-sheet>
  </v-sheet>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data: () => ({
    dialog: {},
    loading: false,
    focus: new Date().toString(),
    type: "month",
    start: null,
    end: null,
    rules: {
      required: value => !!value || "Required.",
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "Invalid e-mail.";
      }
    },
    weekdays: [1, 2, 3, 4, 5],
    name: "",
    email: "",
    events: [ //TODO: Apparently documented issue. The events array must have an initial value. WIP: https://github.com/vuetifyjs/vuetify/issues/7790
      {
        name: "Vacation",
        start: "2019-01-08 08:00",
        end: "2019-01-08 10:00"
      }
    ]
  }),
  computed: {
    title(): String {
      const { start, end } = this;
      if (!start || !end) {
        return "";
      }

      const startMonth = this.monthFormatter(start);

      const startYear = start.year;
      const startDay = start.day + this.nth(start.day);

      return `${startMonth} ${this.type == "day" ? startDay : ""} ${startYear}`;
    },
    monthFormatter() {
      return this.$refs.calendar.getFormatter({
        timeZone: "UTC",
        month: "long"
      });
    },
    invalidForm(): boolean {
      return (
        this.loading || !(!!this.name && this.rules.email(this.email) === true)
      );
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.get();
    });
    this.$refs.calendar.checkChange();
  },
  methods: {
    viewDay({ date }) {
      this.focus = date;
      this.type = "day";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    updateRange({ start, end }) {
      this.start = start;
      this.end = end;
    },
    formatHour(hour: number) {
      return (hour < 10 ? "0" + hour : hour) + ":00";
    },
    formatDate(date: string, hour: number) {
      return date + " " + this.formatHour(hour);
    },
    async get() {
      this.$nuxt.$loading.start();
      try {
        this.events = await this.$axios.$get(
          "http://localhost:8000/api/appointments"
        );
        console.log(this.events);
      } catch (error) {
        console.error(error);
      }
      this.$nuxt.$loading.finish();
    },
    async send(date: string, hour: number) {
      this.$nuxt.$loading.start();
      this.loading = true;
      try {
        const response = await this.$axios.$post(
          "http://localhost:8000/api/appointments",
          {
            start: this.formatDate(date, hour),
            end: this.formatDate(date, hour + 1),
            name: this.name,
            email: this.email
          }
        );
        console.log(response);
        this.get();
      } catch (error) {
        console.error(error);
      }
      this.loading = false;
      this.$nuxt.$loading.finish();
    },
    nth(d: number) {
      return d > 3 && d < 21
        ? "th"
        : ["th", "st", "nd", "rd", "th", "th", "th", "th", "th", "th"][d % 10];
    }
  }
});
</script>
