<template>
  <v-layout justify-center
            align-center>
    <v-flex xs12
            md8>
      <v-card>
        <v-card-title class="headline">
          Death appointments schedule
        </v-card-title>
        <v-card-text>
          <calendar />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
import Vue from "vue";
import Calendar from "~/components/Calendar.vue";

export default Vue.extend({
  components: {
    Calendar,
  }
});
</script>
